@import './common/common';

.skill__container {
  font-size: 2em;
  margin-top: 20px;

  .skill__title {
    color: $primary-color;
    display: inline-block;
    min-width: 100px;
    max-width: 20%;
  }

  .skill__value {
    display: inline-block;
    min-width: 50px;
    text-align: center;
  }

  .skill__button {
    @include pc-width {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
