@import './common/common';
@import './HeroList';
@import './HeroProfile';
@import './SkillCounter';

body {
  font-family: PingFang TC, 黑體-繁, Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體,
    Microsoft JhengHei, sans-serif !important;
  background-color: #f3f3f1;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

.center {
  text-align: center;
}

.div--inline-block {
  display: inline-block;
}

.cursor--not-allowed {
  cursor: not-allowed;
}

.desktop--hide {
  @include pc-width {
    display: none;
  }
}

.mobile--hide {
  @include phone-width {
    display: none;
  }
}

.col-md-12 {
  margin-top: 20px;
}

.color--warn {
  color: $second-color;
}

.swal2-popup {
  font-size: 1.6rem !important;
}
